.footer {
    background-color: #212122;

    &__social {
        @media @screen-gt-s {
            float: left;
            width: 50%;
        }
    }

    &__stores {
        @media @screen-gt-s {
            margin-top: 30px;                
            float: right;
            width: 50%;
            text-align:right;
        }

        @media @screen-gt-m {
            margin-top: 30px;                
            float: left;
            text-align:right;
        }        
    }
}

.footer__logo {
    display: none;

    @media @screen-gt-m {
        display: block;
        float: right;
        text-align: right;
        margin-top: 43px;
        filter: grayscale() invert();
        transition: all .4s ease-in;
        
        &:hover {
            filter: grayscale();
            transition: all .2s ease-in;
        }
    }
}


.footer__separator {
    width: 100%;
    border-top: 1px #666 solid;
    margin-top: 30px;
    margin-bottom: 15px;
    clear: both;

    @media @screen-gt-s {
         margin-bottom: 30px; /* Чтобы текст переносился как в макете  */
         margin-top: 30px-8px;         
    }

    @media @screen-gt-m {
        margin-top: 30px; /* Чтобы текст переносился как в макете  */
   }    
}

.footer__copyright {
    color: #999;    
    padding-bottom:22px;

    @media @screen-gt-s {
        padding-bottom: 29px;
        margin-left: -15px;        
    }
    
    @media @screen-gt-m {
        padding-bottom: 35px;
    }
}
