.stores {
    padding-left: 0;
    list-style-type: none;          /* Для отключения списка */
    display: block;
    margin: 0 -5px 0 -5px;
    height: 40px;

    &__item{
        display: inline-block;
        padding-right: 7px;         /* 5 + 2 Компенсация border */
        
        
        &:nth-child(2){
            float: right;
        }   

        @media @screen-gt-s {
            & {
                padding-right: 5px;
                width: 150px;
                float: none;
            }
            &:nth-child(2){
                padding-left: 30px;
            }

        }

    }

    @media @screen-gt-s {
        & {
            margin-top: 30px;         
            margin-bottom: 25px;
            
        }
    }

    @media @screen-gt-m {
        & {
            margin-top: 40px;         
            margin-bottom: 40px;                   /* по макету 39, но я округлил до 40 */
            
        }
    }

}

@storeicons: appstore, googleplay; /* перременную обзовём по-другому иначе в yarn конфликт имён */
.stores__icon {

        display:block;
        background: no-repeat center center #212122;
        width: 100%;                /* минус бордюр */
        height: 38px;
        border: 1px solid #CCCCCC; /* цвет из SVG */
        transition: all 0.5s ease-in;

        @media @screen-gt-s {
            & {
               width: 138px;
               float: right;
            }
        }

        &:nth-child(2){
            float: right;
            
            @media @screen-gt-s {
                & {
                    float:none;
                }
            }

        }


    each(@storeicons, {
        &_type_@{value} {
            background-image: url('@{value}.svg');
        }
    })

    &:hover{
        filter: invert();
        transition: all 0.2s ease-in;
        border: 1px solid #888;
    }

}
