.stores {
    padding-left: 0;
    list-style-type: none; /* Для отключения списка */
    margin: 30px -2px 0 -4px; /* к сожалению нужны отрицательные margin, без них не помещается т.к. размер больше макетного*/
    font-size: 0; /* если не обнулить, то вылезают дробные пикслеы от пробелов и переводов строк */
    line-height: 0;

    &__item {
        display: inline-block;

        @media @screen-gt-s {
            width: 148px; /* в макете размер 140, у меня только такой получается (иначе по сетке нельзя выровнять) */
            padding-left: 4px; /* или зазор 8px или размер 140px что-то одно надо выбрать, я выбрал отступ, он заметнее */
            padding-right: 4px; /* половина зазора между иконками */
        }
    }

    @media @screen-gt-s {
        float: right;
        margin-top: 0px;
    }

    @media @screen-gt-m {
        float: none;
    }
}

@storeicons: appstore, googleplay; /* перременную обзовём по-другому иначе в yarn конфликт имён */
.stores__icon {
    display: inline-block;
    background: no-repeat center center #212122;
    height: 38px;
    border: 1px solid #CCCCCC; /* цвет из SVG */
    transition: all 0.5s ease-in;
    width: 2*@column-width-s;

    @media @screen-gt-s {
        width: 140px;
    }

    each(@storeicons, {
            &_type_@{value} {
                background-image: url('@{value}.svg');
            }
        }

    ) &:hover {
        filter: invert();
        transition: all 0.2s ease-in;
        border: 1px solid #888;
    }
}
